.chatContainer {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0;
  position: relative;
}

.chatContainer * {
  user-select: none;
}

.chatHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-700);
  padding-block: 9px;
  z-index: 1;
}

.chatHeader p {
  font-weight: bold;
  color: var(--primary-A100);
}

.inputTextContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: var(--primary-600);
  padding: 15px;
  border-radius: 0 0 24px;
}

.inputTextBackground {
  display: flex;
  flex: 1;
  border-radius: 35px;
  padding: 7px 7px;
  background-color: var(--primary-light);
  flex-flow: row nowrap;
  justify-content: space-between;
}

.inputTextBackground input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0 15px;
  color: #fff;
}

.inputTextBackground input::placeholder {
  color: #9eacf7;
}

.inputTextBackground input:focus {
  outline: none;
}

.inputTextBackground button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-main);
  box-shadow: 0 0 15px rgba(6, 139, 66, 0.527);
  transition: all 0.2s ease-in-out;
}

.inputTextBackground button:hover {
  background-color: var(--secondary-light);
}

.inputTextBackground button svg {
  transform: translateX(2px);
}

.chatBody {
  height: 583px;
  width: 100%;
  padding-inline: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  overflow-y: auto;
  overflow-x: hidden;
}
