.chatContainer {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 30px;
}

.chatContainer * {
  user-select: none;
}

.chatHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-bottom: 30px;
}

.chatHeader p {
  font-weight: bold;
  color: var(--primary-A100);
}

.inputTextContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.inputTextBackground {
  display: flex;
  flex: 1;
  border-radius: 24px;
  padding: 7px 7px;
  background-color: var(--primary-light);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.1);
  flex-flow: row nowrap;
  justify-content: space-between;
}

.inputTextBackground input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0 15px;
  color: #fff;
}

.inputTextBackground input::placeholder {
  color: #9eacf7;
}

.inputTextBackground input:focus {
  outline: none;
}

.inputTextBackground button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-main);
  box-shadow: 0 0 15px rgba(6, 139, 66, 0.527);
  transition: all 0.1s;
}

.inputTextBackground button:hover {
  background-color: var(--secondary-light);
}

.inputTextBackground button svg {
  transform: translateX(2px);
}
