.chatBoxFlexContainer {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.chatBoxContainer {
  background-color: var(--primary-main);
  border-radius: 24px;
  max-width: 1200px;
  width: 100%;
  height: 760px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 0 60px 0px #2c388e;
}

.chatBoxHeader {
  background-color: var(--primary-light);
  border-radius: 24px 24px 0 0;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 10px 45px #3b4fc3;
  z-index: 1;
}

.chatBoxHeader span {
  width: 340px;
  padding: 15px 35px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  transition: all 0.2s;
}

.chatBoxHeader h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
  font-size: 22px;
}

.chatBoxBody {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.lateralMenuTabButtons {
  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: 799px) {
  .chatBoxHeader span {
    width: 100%;
  }

  .chatBoxBodyLateralMenu {
    visibility: hidden;
  }
}

@media (min-width: 800px) {
  .chatBoxBodyLateralMenu {
    background-color: var(--primary-400);
    border-radius: 0 0 0 24px;
    height: 100%;
    width: 340px;
    float: left;
  }

  .tabButton {
    border: none;
    background-color: var(--primary-400);
    color: var(--primary-A200);
    flex: 1;
    padding: 10px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .tabButton:hover {
    background-color: var(--primary-light);
    font-weight: bold;
    color: #fff;
  }

  .activeTabButton {
    background-color: var(--primary-600);
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: 900;
    color: #fff;
    border-radius: 0;
    text-shadow: 0 0 2px #fff;
  }

  .activeTabButton:hover {
    background-color: var(--primary-600);
  }

  .search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 25px 25px;
    background-color: var(--primary-600);
  }

  .search label {
    display: flex;
    width: 100%;
    border-radius: 24px;
    padding: 6px 6px;
    background-color: var(--primary-light);
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.1);
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .search input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0 15px;
    color: #fff;
  }

  .search input::placeholder {
    color: #9eacf7;
  }

  .search input:focus {
    outline: none;
  }

  .search button {
    border: none;
    padding: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--secondary-main);
    box-shadow: 0 0 15px rgba(6, 139, 66, 0.527);
    transition: all 0.1s;
  }

  .search button:hover {
    background-color: var(--secondary-light);
  }

  .lateralMenuItemContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 16px 30px;
    border: none;
    border-bottom: 1px solid rgb(65, 65, 192);
    transition: all 0.2 cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: transparent;
    width: 100%;
  }

  .lateralMenuItemContainer * {
    user-select: none;
  }

  .lateralMenuItemContainer p {
    color: var(--primary-A100);
    font-size: small;
    padding-left: 15px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .lateralMenuItemContainer svg {
    width: 15px;
    height: 15px;
    transform: translateY(0px);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    fill: var(--primary-200);
  }

  .statusConnectedCircleContainer {
    width: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .statusConnectedCircle {
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--secondary-main);
    box-shadow: 0 0 5px var(--secondary-main);
    transition: all 0.2s ease-out;
  }

  .lateralMenuItemContainer:hover {
    background-color: var(--primary-light);
  }

  .lateralMenuItemContainer:hover p {
    color: #fff;
    text-shadow: 0 0 15px #fff;
  }

  .lateralMenuItemContainer:hover svg {
    transform: translate(5px, 0px);
    fill: var(--primary-A100);
  }

  .lateralMenuItemContainer:hover .statusConnectedCircle {
    background-color: var(--secondary-100);
    box-shadow: 0 0 15px var(--secondary-100);
  }

  .lateralMenuItemSelected {
    background-color: var(--primary-700);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .lateralMenuItemSelected p {
    padding-left: 25px;
  }

  .lateralMenuItemSelected svg {
    fill: var(--primary-200);
  }

  .lateralMenuItemSelected:hover {
    background-color: var(--primary-darker);
  }

  .lateralMenuItemSelected:hover svg {
    fill: var(--primary-600);
  }

  .lateralMenuItemName {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .lateralMenuitemPanel {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 508px;
  }
  .lateralMenuitemPanel::-webkit-scrollbar {
    width: 6px;
  }
  .lateralMenuitemPanel::-webkit-scrollbar-thumb {
    background-color: var(--primary-600);
    border-radius: 0 0 4px 4px;
  }

  .lateralMenuitemPanel::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
