@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary-main: #3b4fc3;
  --primary-light: #4c66fc;
  --primary-darker: #192041;
  --primary-700: #2a3885;
  --primary-600: #3445a8;
  --primary-500: #3b4fc3;
  --primary-400: #3f54d1;
  --primary-300: #4f64e0;
  --primary-200: #5e76ff;
  --primary-100: #899aff;
  --primary-A500: #a6b3ff;
  --primary-A100: #c7cfff;

  --secondary-main: #00c760;
  --secondary-light: #00e06c;
  --secondary-darker: #00a650;
  --secondary-100: #8affc3;

  --danger-main: #c52f2f;
  --danger-light: #ff334f;
  --danger-darker: #8b0618;
  --danger-100: #ff5c71;
}

body {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
}

.formInputTextLabel {
  background-color: var(--primary-300);
  border-radius: 12px;
  height: 52px;
  display: flex;
  padding-inline: 22px;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.048);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.formInputTextLabel:focus-within {
  box-shadow: 0 0px 5px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 1px 4px rgba(255, 255, 255, 0.3);
}

.formInputTextLabelError {
  box-shadow: 0 0px 5px 2px rgba(181, 11, 33, 0.4),
    inset 0 0 3px 1px var(--danger-main);
}

.formInputTextLabelError:focus-within {
  box-shadow: 0 0px 10px 2px rgba(255, 0, 34, 0.5),
    inset 0 0 3px 3px var(--danger-100);
}

.formInputTextLabel input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.formInputTextLabel input:active .formInputTextLabel {
  background-color: black;
}

.formInputTextLabel input::placeholder {
  color: var(--primary-100);
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary-700);
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: var(--primary-400);
  border-radius: 4px;
}
