.layoutContainer {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.layoutContainer * {
  text-align: center;
}

.layoutTexts {
}

.layoutContainer h1 {
  color: var(--primary-200);
}

.layoutContainer p {
  color: var(--primary-A100);
}

.layoutContainer strong {
  color: var(--primary-200);
}
